In [1]:
import pandas as pd

df1=pd.read_excel("okt_plus.xlsx")
df1.head()

,질문,수식풀이,형태소,단위
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,58+54=[112],"[('준', 'Noun'), ('기는', 'Verb'), ('동화책', 'Noun'...","['58쪽', '54쪽']"
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,47+69=[116],"[('곤충관', 'Noun'), ('에서는', 'Josa'), ('곤충', 'Nou...","['47봉지', '69봉지']"
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,7+5=[12],"[('나무', 'Noun'), ('아래', 'Noun'), ('에', 'Josa')...","['7마리', '5마리']"
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,8+6=[14],"[('연수', 'Noun'), ('는', 'Josa'), ('지금', 'Noun')...","['8개', '6개']"
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,15+13=[28],"[('아름이', 'Noun'), ('는', 'Josa'), ('사탕', 'Noun'...","['15개', '13개']"

In [27]:
df=pd.DataFrame({"질문":df1["질문"],"형태소":df1["질문"]})

df.head()

,질문,형태소
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...

In [20]:
from konlpy.tag import Okt
okt=Okt()

In [28]:
for i in range(0, len(df1)):
    df['형태소'][i] = okt.morphs(df1["질문"][i])
df.head()

,질문,형태소
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,"[준, 기는, 동화책, 을, 어제, 는, 58, 쪽, ，, 오늘, 은, 54, 쪽,..."
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,"[곤충관, 에서는, 곤충, 에게, 먹이, 를, 아침, 에, 47, 봉지, ，, 점심..."
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,"[나무, 아래, 에, 기린, 이, 7, 마리, 있습니다, ., 5, 마리, 가, 더..."
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,"[연수, 는, 지금, 까지, 훌라후프, 8, 개, 를, 뛰어넘었습니다, ., 연수,..."
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,"[아름이, 는, 사탕, 15, 개, 를, 가진, 다운, 이, 보다, 사탕, 이, 1..."

In [36]:
temp=df["형태소"][0]

type(temp),print(temp)

['준', '기는', '동화책', '을', '어제', '는', '58', '쪽', '，', '오늘', '은', '54', '쪽', '읽었습니다', '.', '준', '기는', '어제', '와', '오늘', '동화책', '을', '모두', '몇', '쪽', '읽었을까요', '?']

(list, None)

In [47]:
result=[]
for i in range(0,len(df)-1):
    result.append(df["형태소"][i])
len(result)

90

In [48]:
print('총 샘플의 개수 : {}'.format(len(result)))

총 샘플의 개수 : 90

In [49]:
from gensim.models import Word2Vec
model = Word2Vec(result, size=100, window=5, min_count=5, workers=4, sg=0)

In [50]:
model_result1=model.wv.most_similar("모두")
print(model_result1)

[('몇', 0.952442467212677), (',', 0.9409106969833374), ('.', 0.9384489059448242), ('가', 0.937970757484436), ('개', 0.9378779530525208), ('을', 0.925575852394104), ('식', 0.9237483143806458), ('구슬', 0.9237178564071655), ('를', 0.9235652685165405), ('있습니다', 0.9227707386016846)]